on early-init
    loglevel 3

on init

on post-fs-data
    insmod /vendor/lib/modules/mali.ko
    insmod /oem/overlay/dovi.ko
    insmod /vendor/lib/sl_hdr.ko

on boot
    write /sys/module/amvdec_mh264/parameters/reorder_dpb_size_margin 9
    write /sys/module/amvdec_h265/parameters/dynamic_buf_num_margin 9
    write /sys/module/amvdec_vp9/parameters/max_buf_num 12
    chmod 0666 sys/class/leds/red_led/brightness
    chmod 0666 sys/class/leds/red_led/trigger
    chmod 0666 sys/class/leds/white_led/brightness
    chmod 0666 sys/class/leds/white_led/trigger

on property:ro.boot.oem.key1=*
    setprop ro.oem.key1 ${ro.boot.oem.key1}

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/class/leds/white_led/trigger "none"
    write /sys/class/leds/white_led/brightness "1"

    # Add restrictions for background apps on four cores CPU
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-1
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/restricted/cpus 0-1

